html
    head
        title=title
        script(src='app.js')
        link(rel='stylesheet', href='app.css')
    body
        .container 
            .row
                .col
                    a.btn.btn-primary#btn 
                        span.glyphicon.glyphicon-cog
                        
            .row
                .col
                    .resultado#print-res 
                 
    

    